
.content ul li:nth-of-type(1) a{
	background:url(../images/left_link_02.jpg) no-repeat 7.8431% center;
}
.content ul li:nth-of-type(1):hover a{
	border-bottom:4px solid #fa9634;
	background:url(../images/left_link_03.jpg) no-repeat 7.8431% center;
}
/*.content ul li:nth-of-type(2) a{
	background:url(../images/left_link_06.jpg) no-repeat 7.8431% center;
}*/
.hover{
	border-bottom:4px solid #fa9634;
	background:url(../images/left_link_07.jpg) no-repeat 7.8431% center;
}
.content ul li:nth-of-type(3) a{
	background:url(../images/left_link_08.jpg) no-repeat 7.8431% center;
}
.content ul li:nth-of-type(3):hover a{
	border-bottom:4px solid #fa9634;
	background:url(../images/left_link_09.jpg) no-repeat 7.8431% center;
}
.content ul li:nth-of-type(4) a{
	background:url(../images/left_link_10.jpg) no-repeat 7.8431% center;
}
.content ul li:nth-of-type(4):hover a{
	border-bottom:4px solid #fa9634;
	background:url(../images/left_link_11.jpg) no-repeat 7.8431% center;
}
.content ul li:nth-of-type(5) a{
	background:url(../images/left_link_12.jpg) no-repeat 7.8431% center;
}
.content ul li:nth-of-type(5):hover a{
	border-bottom:4px solid #fa9634;
	background:url(../images/left_link_13.jpg) no-repeat 7.8431% center;
}
.content ul li:nth-of-type(6) a{
	background:url(../images/left_link_14.jpg) no-repeat 7.8431% center;
}
.content ul li:nth-of-type(6):hover a{
	border-bottom:4px solid #fa9634;
	background:url(../images/left_link_15.jpg) no-repeat 7.8431% center;
}
.content ul li:nth-of-type(7) a{
	background:url(../images/left_link_16.jpg) no-repeat 7.8431% center;
}
.content ul li:nth-of-type(7):hover a{
	border-bottom:4px solid #fa9634;
	background:url(../images/left_link_17.jpg) no-repeat 7.8431% center;
}
.content ul li:nth-of-type(8) a{
	background:url(../images/left_link_18.jpg) no-repeat 7.8431% center;
}
.content ul li:nth-of-type(8):hover a{
	border-bottom:4px solid #fa9634;
	background:url(../images/left_link_19.jpg) no-repeat 7.8431% center;
}
@media only screen and (max-width:761px ) {
	/*.hover{
		background:none;
	}*/
	.content ul li:nth-of-type(1) a{
		background:none;
	}
	.content ul li:nth-of-type(1):hover a{
		background:none;
		border-bottom:4px solid rgba(0,0,0,0);
	}
	.content ul li:nth-of-type(2) a{
		background:none;
	}
	.content ul li:nth-of-type(2):hover a{
		background:none;
		border-bottom:4px solid rgba(0,0,0,0);
	}
	.content ul li:nth-of-type(3) a{
		background:none;
	}
	.content ul li:nth-of-type(3):hover a{
		background:none;
		border-bottom:4px solid rgba(0,0,0,0);
	}
	.content ul li:nth-of-type(4) a{
		background:none;
	}
	.content ul li:nth-of-type(4):hover a{
		background:none;
		border-bottom:4px solid rgba(0,0,0,0);
	}
	.content ul li:nth-of-type(5) a{
		background:none;
	}
	.content ul li:nth-of-type(5):hover a{
		background:none;
		border-bottom:4px solid rgba(0,0,0,0);
	}
	.content ul li:nth-of-type(6) a{
		background:none;
	}
	.content ul li:nth-of-type(6):hover a{
		background:none;
		border-bottom:4px solid rgba(0,0,0,0);
	}
	.content ul li:nth-of-type(7) a{
		background:none;
	}
	.content ul li:nth-of-type(7):hover a{
		background:none;
		border-bottom:4px solid rgba(0,0,0,0);
	}
	.content ul li:nth-of-type(8) a{
		background:none;
	}
	.content ul li:nth-of-type(8):hover a{
		background:none;
		border-bottom:4px solid rgba(0,0,0,0);
	}
	
	.content ul li:nth-of-type(1){
		background:url(../images/left_link_02.jpg) no-repeat  center 15px;
	}
	.content ul li:nth-of-type(1):hover{
		background:url(../images/left_link_02.jpg) no-repeat  center 15px;
	}
	/*.content ul li:nth-of-type(2) {
		border-bottom:4px solid rgba(0,0,0,0);
		background:url(../images/left_link_06.jpg) no-repeat  center 15px;
	}*/
	.hover{
		border-bottom:4px solid #fa9634;
		background:url(../images/left_link_07.jpg) no-repeat  center 15px;
	}
	.hover:hover{
		border-bottom:4px solid #fff;
	}
	.content ul li:nth-of-type(3){
		border-bottom:4px solid rgba(0,0,0,0);
		background:url(../images/left_link_08.jpg) no-repeat  center 15px;
	} 
	.content ul li:nth-of-type(3):hover{
		background:url(../images/left_link_08.jpg) no-repeat  center 15px;
	}
	.content ul li:nth-of-type(4){
		border-bottom:4px solid rgba(0,0,0,0);
		background:url(../images/left_link_10.jpg) no-repeat  center 15px;
	}
	.content ul li:nth-of-type(4):hover {
		background:url(../images/left_link_10.jpg) no-repeat  center 15px;
	}
	.content ul li:nth-of-type(5){
		border-bottom:4px solid rgba(0,0,0,0);
		background:url(../images/left_link_12.jpg) no-repeat center 15px;
	}
	.content ul li:nth-of-type(5):hover {
		background:url(../images/left_link_12.jpg) no-repeat  center 15px;
	}
	.content ul li:nth-of-type(6){
		border-bottom:4px solid rgba(0,0,0,0);
		background:url(../images/left_link_14.jpg) no-repeat  center 15px;
	}
	.content ul li:nth-of-type(6):hover{
		background:url(../images/left_link_14.jpg) no-repeat  center 15px;
	}
	.content ul li:nth-of-type(7){
		border-bottom:4px solid rgba(0,0,0,0);
		background:url(../images/left_link_16.jpg) no-repeat  center 15px;
	}
	.content ul li:nth-of-type(7):hover{
		background:url(../images/left_link_16.jpg) no-repeat  center 15px;
	}
	.content ul li:nth-of-type(8){
		border-bottom:4px solid rgba(0,0,0,0);
		background:url(../images/left_link_18.jpg) no-repeat  center 15px;
	}
	.content ul li:nth-of-type(8):hover{
		background:url(../images/left_link_18.jpg) no-repeat center 15px;
	}
	.content ul li:nth-of-type(9){
		border-bottom:4px solid rgba(0,0,0,0);
	}
}